/* src/Pages/PaymentInfo.css */
.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .fs-4 {
    font-size: 1.5rem;
  }
  
  .fs-5 {
    font-size: 1.25rem;
  }
  
  .fs-6 {
    font-size: 1rem;
  }
  